html,
body,
#spooktober {
  background-color: #0c0c0c;
  color: #c0c0c0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  margin: auto;
}

footer {
  margin-bottom: auto;
}

.pos-stage {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  height: 240px;
  width: 320px;
  z-index: 2;
  background-color: #1c1c1c;
}

.idle, .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  z-index: 3;
  color: #F1F1F1;
}

.idle p, .game-over p {
  text-align: center;
}

@media all and (min-width: 768px) {
  .pos-stage {
    height: 480px;
    width: 640px;
  }
}

@media all and (min-width: 1024px) {
  .pos-stage {
    height: 600px;
    width: 800px;
    transform: scale(1.28);
  }
}

.wave-indicator {
  display: flex;
  
        JS.setTimeout (fun _ -> Allies <~ []) (Random.randomInt 4000 5000)
        |> ignoremargin: auto auto 0;
  color: floralwhite;
}

.slime {
  --slime-url: url("../assets/slimes/Slime_Small_Blue.png");
  background-image: var(--slime-url);
  background-repeat: no-repeat;
  height: 14px;
  width: 11px;
  margin: 5px;
  transform: scale(2);
  animation-timing-function: steps(2);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.player,
.npc {
  display: inline-flex;
  position: absolute;
}

.player {
  z-index: 2;
}

.healthbar {
  height: 6px;
  position: absolute;
  bottom: -18%;
  width: 100%;
}

.healthbar ::-webkit-meter-optimum-value {
  background: red;
}
.healthbar ::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: red;
}

.slime__green {
  --slime-url: url("../assets/slimes/Slime_Small_Green.png");
}

.slime__orange {
  --slime-url: url("../assets/slimes/Slime_Small_Orange.png");
}

.slime__red {
  --slime-url: url("../assets/slimes/Slime_Small_Red.png");
}

.slime__white {
  --slime-url: url("../assets/slimes/Slime_Small_White.png");
}

.slime--up {
  animation-name: slimeUp;
}
.slime--down {
  animation-name: slimeDown;
}

.slime--left {
  animation-name: slimeLeft;
}

.slime--right {
  animation-name: slimeRight;
}

.slime--moving {
  animation-duration: 0.2s;
}

.slime--slide {
  --slime-url: url("../assets/slimes/Slime_Small_Green.png");
  --expansive-aura-color: rgb(173, 255, 173);
}

.slime--attack {
  --slime-url: url("../assets/slimes/Slime_Small_Red.png");
  --expansive-aura-color: rgb(255, 89, 89);
}

.slime--defend {
  --slime-url: url("../assets/slimes/Slime_Small_White.png");
  --expansive-aura-color: rgb(224, 224, 224);
}

.slime--heal {
  --slime-url: url("../assets/slimes/Slime_Small_Green.png");
  --expansive-aura-color: rgb(55, 145, 248);
}

.slime--attack::before,
.slime--slide::before,
.slime--defend::before,
.slime--heal::before {
  position: relative;
  content: "";
  top: 7.5px;
  left: 6px;
  animation-name: expansive;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slime--attack::before {
  animation-duration: 0.2s;
}

.slime--slide::before {
  animation-duration: 0.1s;
  animation-direction: alternate-reverse;
}

.slime--defend::before,
.slime--heal::before {
  animation-duration: 1s;
  animation-direction: alternate;
}

.decoration {
  animation: fadeInOut 5s linear infinite;
  z-index: 1;
  cursor: not-allowed;
  background-image: url("../assets/32x32_Halloween_Free.png");
  height: 32px;
  width: 32px;
  transform: scale(1.5);
  position: absolute;
}

.virtual-pad {
  display: flex;
  justify-content: space-between;
}

.direction-pad {
  z-index: 2;
}

.action-pad {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

.action-pad :nth-child(1) {
  position: relative;
  left: -10%;
  top: 50%;
  width: 42px;
}
.action-pad :nth-child(2) {
  position: relative;
  width: 42px;
}
.action-pad :nth-child(3) {
  position: relative;
  right: -10%;
  top: -50%;
  width: 42px;
}

.direction-pad :nth-child(1) {
  position: relative;
  top: -25%;
  left: 25%;
  width: 42px;
}
.direction-pad :nth-child(2) {
  position: relative;
  top: 50%;
  left: -24%;
  width: 42px;
}

.direction-pad :nth-child(3) {
  position: relative;
  top: 50%;
  right: 2%;
  width: 42px;
}

.direction-pad :nth-child(4) {
  position: relative;
  bottom: -125%;
  left: -50%;
  width: 42px;
}

@keyframes slimeDown {
  0% {
    background-position: -10px -5px;
  }
  100% {
    background-position: -74px -5px;
  }
}

@keyframes slimeUp {
  0% {
    background-position: -10px -69px;
  }
  100% {
    background-position: -74px -69px;
  }
}

@keyframes slimeLeft {
  0% {
    background-position: -10px -101px;
  }
  100% {
    background-position: -74px -101px;
  }
}

@keyframes slimeRight {
  0% {
    background-position: -10px -37px;
  }
  100% {
    background-position: -74px -37px;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(3);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes expansive {
  from {
    box-shadow: 0px 0px 15px 0px var(--expansive-aura-color);
  }
  to {
    box-shadow: 0px 0px 15px 8px var(--expansive-aura-color);
  }
}
